<?php
 session_start();

 $_SESSION['confirmNumber'] = "123456";

 echo $_SESSION['confirmNumber'];

?>

	<script>
    function createData() {
        // 1. 자바스크립트 객체 형태로 전달
        var sendData = {pnum1:$('#pnum1').val(), pnum2:$('#pnum2').val(), pnum3:$('#pnum3').val()};

        // 2. jQuery serialize함수를 사용해서 전달
        //var sendData = $('#AjaxForm').serialize();

       // console.log(sendData);

        return sendData;

        // 3. 객체를 json 문자열로 만들어서 전달
        //var sendData = JSON.stringify({name:$('#name').val(), email:$('#email').val()});
        //console.log(sendData);
        //return {"data" : sendDta};
    }

    function AjaxCall(method) {
        $.ajax({
            type: method,
            url : "/member/proc/join_check.php",
            data: createData(),
            dataType:"json",
            success : function(data, status, xhr) {
                console.log(data);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.responseText);
            }
        });
    }




        // function identifyCheck(pnum1,pnum2,pnum3) {
        //     // alert(pnum1+"-"+pnum2+"-"+pnum3);
		//
		//
        //     if(pnum1==""||pnum2==""||pnum3=="" ){
        //         alert("전화번호를 제대로 다 입력해주세요.");
		//
		//
		//
		//
        //     }else{
        //         var value = "<?php echo $_SESSION['confirmNumber'];?>"
        //         alert("인증번호 :"+ value);
        //     }
		//
		//
        // }

	</script>
<div id="container" class="container-full">
	<div id="content" class="content">
		<div class="inner">
			<div class="tit-box-h3">
				<h3 class="tit-h3">회원가입</h3>
				<div class="sub-depth">
					<span><i class="icon-home"><span>홈</span></i></span>
					<strong>회원가입 완료</strong>
				</div>
			</div>

			<div class="join-step-bar">
				<ul>
					<li><i class="icon-join-agree"></i> 약관동의</li>
					<li class="on"><i class="icon-join-chk"></i> 본인확인</li>
					<li class="last"><i class="icon-join-inp"></i> 정보입력</li>
				</ul>
			</div>

			<div class="tit-box-h4">
				<h3 class="tit-h4">본인인증</h3>
			</div>

			<div class="section-content after">
				<div class="identify-box" style="width:100%;height:190px;">
					<div class="identify-inner">
						<strong>휴대폰 인증</strong>
						<p>주민번호 없이 메시지 수신가능한 휴대폰으로 1개 아이디만 회원가입이 가능합니다. </p>

						<br/>
						<form name="identifyNum" id="AJaxForm" method="post" action="/member/proc/join_check.php">
							<input type="text" id="pnum1" class="input-text" style="width:50px"/> -
							<input type="text" id="pnum2" class="input-text" style="width:50px"/> -
							<input type="text" id="pnum3" class="input-text" style="width:50px"/>
							<button type="button" id="pnumCheck" class="btn-s-line"  onclick="AjaxCall('POST');">인증번호 받기</button>
						</form>
						<br /><br />
						<form>
							<input type="text" class="input-text" style="width:200px"/>
							<submit href="" class="btn-s-line">인증번호 확인</submit>
						</form>
					</div>
					<i class="graphic-phon"><span>휴대폰 인증</span></i>
				</div>
			</div>

		</div>
	</div>
</div>

	<!--<div id="footer" class="footer">-->
		<!--<div class="inner p-r">-->
			<!--<img src="http://img.hackershrd.com/common/logo_footer.png" class="logo-footer" alt="해커스 HRD LOGO" width="165" height="37"/>-->
			<!--<div class="site-info">-->
				<!--<div class="link-box">-->
					<!--<a href="#">해커스 소개</a>-->
					<!--<a href="#">이용약관</a>-->
					<!--<a href="#"><strong class="tc-brand">개인정보취급방침</strong></a>-->
					<!--<a href="#">CONTACT US</a>-->
					<!--<a href="#">상담/고객센터</a>-->
				<!--</div>-->
				<!--<div class="address">-->
					<!--㈜챔프스터디 | 사업자등록번호 [120-87-09984] | TEL : 02)537-5000<br />-->
					<!--서울특별시 서초구 강남대로61길 23(서초동 1316-15) 현대성우빌딩 203호<br />-->
					<!--대표이사 : 전재윤 | 개인정보관리책임자 : 김병철<br />-->
					<!--통신판매업신고(제 2008-서울서초-0396호) 정보조회 부가통신사업신고(신고번호 : 013760)<br />-->
				<!--</div>-->
			<!--</div>-->
			<!--<a href="javascript:void(window.open('https://pgweb.uplus.co.kr/pg/wmp/mertadmin/jsp/mertservice/s_escrowYn.jsp?mertid=champescrow','','scrollbars=no,width=340,height=262,top=150,left=550'))" class="lg-info"><img src="http://img.hackershrd.com/common/lg_info.gif" alt="고객님은 안전거래를 위해 교재(유료)가 포함된 상품을 무통장 입금으로 결제하시는 경우 챔프스터디가 가입한 LG U+의 구매안전 서비스를 이용하실 수 있습니다.* LG U+의 결제대금예치업 등록번호 : 02-006-00001" width="163" height="114"/></a>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
